@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.eot');
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg'),
        url('../fonts/Avenir-Black.ttf') format('truetype'),
        url('../fonts/Avenir-Black.woff') format('woff'),
        url('../fonts/Avenir-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-BlackOblique';
    src: url('../fonts/Avenir-BlackOblique.eot');
    src: url('../fonts/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-BlackOblique.svg#Avenir-BlackOblique') format('svg'),
        url('../fonts/Avenir-BlackOblique.ttf') format('truetype'),
        url('../fonts/Avenir-BlackOblique.woff') format('woff'),
        url('../fonts/Avenir-BlackOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot');
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg'),
        url('../fonts/Avenir-Book.ttf') format('truetype'),
        url('../fonts/Avenir-Book.woff') format('woff'),
        url('../fonts/Avenir-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-BookOblique';
    src: url('../fonts/Avenir-BookOblique.eot');
    src: url('../fonts/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-BookOblique.svg#Avenir-BookOblique') format('svg'),
        url('../fonts/Avenir-BookOblique.ttf') format('truetype'),
        url('../fonts/Avenir-BookOblique.woff') format('woff'),
        url('../fonts/Avenir-BookOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/Avenir-Heavy.eot');
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
        url('../fonts/Avenir-Heavy.ttf') format('truetype'),
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/Avenir-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-HeavyOblique';
    src: url('../fonts/Avenir-HeavyOblique.eot');
    src: url('../fonts/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg'),
        url('../fonts/Avenir-HeavyOblique.ttf') format('truetype'),
        url('../fonts/Avenir-HeavyOblique.woff') format('woff'),
        url('../fonts/Avenir-HeavyOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.eot');
    src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg'),
        url('../fonts/Avenir-Light.ttf') format('truetype'),
        url('../fonts/Avenir-Light.woff') format('woff'),
        url('../fonts/Avenir-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-LightOblique';
    src: url('../fonts/Avenir-LightOblique.eot');
    src: url('../fonts/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-LightOblique.svg#Avenir-LightOblique') format('svg'),
        url('../fonts/Avenir-LightOblique.ttf') format('truetype'),
        url('../fonts/Avenir-LightOblique.woff') format('woff'),
        url('../fonts/Avenir-LightOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg'),
        url('../fonts/Avenir-Medium.ttf') format('truetype'),
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-MediumOblique';
    src: url('../fonts/Avenir-MediumOblique.eot');
    src: url('../fonts/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-MediumOblique.svg#Avenir-MediumOblique') format('svg'),
        url('../fonts/Avenir-MediumOblique.ttf') format('truetype'),
        url('../fonts/Avenir-MediumOblique.woff') format('woff'),
        url('../fonts/Avenir-MediumOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Oblique';
    src: url('../fonts/Avenir-Oblique.eot');
    src: url('../fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg'),
        url('../fonts/Avenir-Oblique.ttf') format('truetype'),
        url('../fonts/Avenir-Oblique.woff') format('woff'),
        url('../fonts/Avenir-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.eot');
    src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg'),
        url('../fonts/Avenir-Roman.ttf') format('truetype'),
        url('../fonts/Avenir-Roman.woff') format('woff'),
        url('../fonts/Avenir-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}