/* ------------------- COLORES ------------------- */

$color-uno: #000000;
$color-dos: #ffffff;
$color-tres: #fcb711;
$color-cuatro: #cc004c;
$color-cinco: rgb(0, 0, 0, 0.3);
$color-seis: rgb(0, 0, 0, 0.06);
$color-siete: #38414e;
$color-ocho: #ebedef;
$bg-footer: #292929;

/* ------------------- FONTS --------------------- */

@import 'fonts';

$font-family-sans-serif: "Avenir-Light", "Avenir-Book","Avenir-Roman", "Avenir-Medium", "Avenir-Black", "Avenir-Heavy", "Avenir-Oblique", "Avenir-BlackOblique", "Avenir-BookOblique", "Avenir-HeavyOblique", "Avenir-LightOblique", "Avenir-MediumOblique";
$font-light: "Avenir-Light";
$font-book: "Avenir-Book";
$font-roman: "Avenir-Roman";
$font-heavy: "Avenir-Heavy";
$font-medium: "Avenir-Medium";
$font-black: "Avenir-Black";

/*-------------  DECLARACIÓN TAMAÑO FONTS -------- */

